<a href="https://colab.research.google.com/github/YogeshSahu15/CodersCave-Data-Science-Internship/blob/main/Task_2_Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [ ]:
sp_data = pd.read_csv("spam_ham_dataset.csv")
sp_data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [ ]:
sp_data.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [ ]:
sp_data.dtypes

Unnamed: 0     int64
label         object
text          object
label_num      int64
dtype: object

In [ ]:
sp_data.shape

(5171, 4)

In [ ]:
sp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [ ]:
sp_data.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [ ]:
sp_data.duplicated().sum()

0

In [ ]:
sp_data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,5171.0,NaN,NaN,NaN,2585.0,1492.883452,0.0,1292.5,2585.0,3877.5,5170.0
label,5171,2,ham,3672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text,5171,4993,Subject: calpine daily gas nomination\r\n>\r\n...,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
label_num,5171.0,NaN,NaN,NaN,0.289886,0.453753,0.0,0.0,0.0,1.0,1.0

In [ ]:
sp_data.label.unique()

array(['ham', 'spam'], dtype=object)

In [ ]:
#Delete unwanted column
sp_data.drop('Unnamed: 0', axis = 1, inplace = True)

In [ ]:
sp_data

     label                                               text  label_num
0      ham  Subject: enron methanol ; meter # : 988291\r\n...          0
1      ham  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2      ham  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3     spam  Subject: photoshop , windows , office . cheap ...          1
4      ham  Subject: re : indian springs\r\nthis deal is t...          0
...    ...                                                ...        ...
5166   ham  Subject: put the 10 on the ft\r\nthe transport...          0
5167   ham  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168   ham  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169   ham  Subject: industrial worksheets for august 2000...          0
5170  spam  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [ ]:
import re
import nltk

In [ ]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [ ]:
corpus=[]
for i in range(len(sp_data)):
  rp = re.sub(r'[^a-zA-Z]+'," ",sp_data['text'][i])
  rp = rp.lower()
  rp = rp.split()
  rp = [ps.stem(word) for word in rp if not word in set(stopwords.words('english'))]
  rp = " ".join(rp)
  corpus.append(rp)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(corpus).toarray()

In [ ]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
Y = pd.get_dummies(sp_data['label'], drop_first = True)

In [ ]:
Y

      spam
0        0
1        0
2        0
3        1
4        0
...    ...
5166     0
5167     0
5168     0
5169     0
5170     1

[5171 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB()

In [ ]:
pred_test = model.predict(X_test)
pred_train = model.predict(X_train)

In [ ]:
from sklearn.metrics import accuracy_score
print("Train Accuracy:",accuracy_score(Y_train,pred_train))
print("Test Accuracy:",accuracy_score(Y_test,pred_test))

Train Accuracy: 0.9845261121856866
Test Accuracy: 0.9755154639175257